{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h2>Users</h2>
    <div class="container">
        {% for user in users %}
            <div class="row border-bottom">
                <div class="col">
                    {{ user.firstName }}
                </div>
                <div class="col">
                    {{ user.lastName }}
                </div>
                <div class="col">
                    {{ user.mail }}
                </div>
                <div class="col">
                    <ul class="list-unstyled d-flex">
                        {% for role in user.roles %}
                            <li class="me-2">{{ role }}</li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="col d-flex align-items-center">
{#                    <a href="{{ path("user_edit", {'id' : user.id}) }}" class="btn btn-primary me-2">Edit</a>#}
{#                    <a href="{{ path("user_delete", {'id' : user.id}) }}" class="btn btn-danger">Delete</a>#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
