{% extends 'base.html.twig' %}

{% block title %}LeBonMur{% endblock %}

{% block body %}
    <h1>Le bon mur</h1>
    {% include "/parts/search.html.twig" %}
    <h2>Search result for {{ query }}</h2>
    <div class="container">
        {% for ad in ads %}
            <div class="row mb-3 align-items-center border-bottom">
                <div class="col">
                    {% if ad.pictures is not empty %}
                        {% set picture = ad.pictures[0] %}
                        {% if picture  starts with "http" %}
                            <img src="{{ picture }}" alt=""
                                 class="img-fluid">
                        {% else %}
                            <img src="{{ asset('/uploads/pictures/' ~ picture) }}" alt=""
                                 class="img-fluid">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col"><a href="{{ path("ad", {"slug" : ad.slug}) }}">{{ ad.title | slice(0, 20) }}...</a>
                </div>
                <div class="col">
                    <ul class="tags">
                        {% for tag in ad.tags %}
                            <li style="color:{{ tag.color }}">{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <p>{{ ad.publicationDate | date("d/m/Y") }}</p>
                </div>
                <div class="col">
                    <p>{{ ad.price }}€</p>
                </div>
                <div class="col">
                    <p>{{ ad.seller.firstName }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
