{% extends 'base.html.twig' %}

{% block title %}LeBonMur{% endblock %}

{% block body %}
    <div class="swiper ad-gallery" {{ stimulus_controller('gallery-ad') }}>
        <div class="swiper-wrapper">
            {% for picture in ad.pictures %}
                {% if picture %}
                    {% if picture  starts with "http" %}
                        <img src="{{ picture }}" alt=""
                             class=" swiper-slide">
                    {% else %}
                        <img src="{{ asset('/uploads/pictures/' ~ picture) }}" alt=""
                             class=" swiper-slide">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <h2>{{ ad.title }}</h2>
    <p>
        <i>
            {{ ad.status }}
        </i>
    </p>
    <form action="{{ path('vote_user', { adSlug: ad.slug,userId:ad.seller.id }) }}" method="post" class="d-flex align-items-center">
        <p class="me-2">Seller : {{ ad.seller.firstName }} (note : {{ ad.seller.vote }})</p>
        <button name="vote" value="down" class="me-2 btn btn-danger " >
            <i class="far fa-thumbs-down"></i>
        </button>
        <button name="vote" value="up" class="me-2 btn btn-success">
            <i class="fas fa-thumbs-up"></i>
        </button>
    </form>
    <ul class="tags">
        {% for tag in ad.tags %}
            <li style="color:{{ tag.color }}" class="d-inline-flex"> <img src="{{ asset('/uploads/pictograms/' ~ tag.pictogram) }}" style="height: 1rem; width: 1rem;"/> {{ tag.name }}</li>
        {% endfor %}
    </ul>
    <strong>{{ ad.price }}€</strong>
    <p>{{ ad.description }}</p>
    {% include "/parts/comments.html.twig" %}
{% endblock %}
