{% extends 'base.html.twig' %}

{% block title %}LeBonMur{% endblock %}



{% block body %}
    <div class="swiper ad-gallery" {{ stimulus_controller('gallery-ad') }}>
        <div class="swiper-wrapper">
            {% for picture in ad.pictures %}
                {% if picture %}
                    {% if picture  starts with "http" %}
                        <img src="{{ picture }}" alt=""
                             class=" swiper-slide">
                    {% else %}
                        <img src="{{ asset('/uploads/pictures/' ~ picture) }}" alt=""
                             class=" swiper-slide">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <h2>{{ ad.title }}</h2>
    <p>
        <i>
            {{ ad.status }}
        </i>
    </p>
    <ul class="tags">
        {% for tag in ad.tags %}
            <li style="color:{{ tag.color }}">{{ tag.name }}</li>
        {% endfor %}
    </ul>
    <strong>{{ ad.price }}€</strong>
    <p>{{ ad.description }}</p>
    {% include "/parts/comments.html.twig" %}
{% endblock %}
