{% extends 'base.html.twig' %}

{% block title %}LeBonMur{% endblock %}

{% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.firstName }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}

{% block body %}
    <img src="{{ ad.pictures[0]}}" alt="" class="ad-gallery">
    <h2>{{ ad.title }}</h2>
    <ul class="tags">
        {% for tag in ad.tags %}
            <li style="color:{{ tag.color }}">{{ tag.name }}</li>
        {% endfor %}
    </ul>
    <strong>{{ ad.price }}€</strong>
    <p>{{ ad.description }}</p>
{% endblock %}
