{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <h1>Tags</h1>
    <h2>Create tag</h2>
    {{ form(createForm, {'attr' : {'class' : 'row'}}) }}
    <h2>Manage tags</h2>
    <div class="container">
        {% for tag in tags %}
            <div class="row border-bottom">
                <div class="col">
                    <img src="{{ asset("uploads/pictograms/" ~ tag.pictogram) }}" style="width: 3rem;" alt="">
                </div>
                <div class="col">
                    {{ tag.name }}
                </div>
                <div class="col d-flex align-items-center">
                    <div class="me-2" style="background-color: {{ tag.color }}; height: 1rem; width: 1rem;"></div>
                    <p>
                        {{ tag.color }}
                    </p>
                </div>
                <div class="col d-flex align-items-center">
                    <a href="{{ path("tag_edit", {'id' : tag.id}) }}" class="btn btn-primary me-2">Edit</a>
                    <a href="{{ path("tag_delete", {'id' : tag.id}) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
